@page
@model WebApplication1.Pages.Inventories.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Inventory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Inventory.name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Inventory.name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Inventory.description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Inventory.description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Inventory.size)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Inventory.size)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Inventory.color)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Inventory.color)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Inventory.on_hand_qty)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Inventory.on_hand_qty)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Inventory.cost)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Inventory.cost)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Inventory.sale_price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Inventory.sale_price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Inventory.allocated_qty)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Inventory.allocated_qty)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Inventory.total_qty)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Inventory.total_qty)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Inventory.id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
